@import './theme.scss';

@import '~bootstrap-4-grid';
@import '~bootstrap-utilities';

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', Roboto, 'Helvetica Neue', sans-serif; }
@import './theme.scss';

@import '~bootstrap-4-grid';
@import '~bootstrap-utilities';

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', Roboto, 'Helvetica Neue', sans-serif; }
